body {
  background-color: white; /* Standard für Adminseite */
}

body.kinderseite {
  background-color: #e0f0ff; /* hellblauer Hintergrund Kinderseite*/
}

.highlight {
    background-color: #fadffa;  /* rosa Hintergrund */
    font-weight: bold;
  }